<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/fragment :: web_head_tag}"></head>
<body class="sb-nav-fixed">
<nav th:replace="~{fragment/fragment :: web_navigation}"></nav>
<div id="layoutSidenav">
    <div th:replace="~{fragment/fragment :: layoutSidenav_nav}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Execution
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3 col-md-6">
                                        <form action="#" th:action="@{/index/record}" method="get">
                                            <div class="card bg-primary text-white mb-4">
                                                <button class="btn-info" type="submit">Register</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <form action="#" th:action="@{/index/stopRecord}" method="get">
                                            <div class="card bg-warning text-white mb-4">
                                                <button class="btn-danger" type="submit">StopRecord</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <form th:action="@{/index/start}" method="get">
                                            <div class="card bg-warning text-white mb-4">
                                                <button class="btn-success" type="submit">Start</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <form th:action="@{/index/end}" method="get">
                                            <div class="card bg-warning text-white mb-4">
                                                <button class="btn-primary" type="submit">End</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        DataTable Example
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Donna Snider</td>
                                <td>Customer Support</td>
                                <td>New York</td>
                                <td>27</td>
                                <td>2011/01/25</td>
                                <td>$112,000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="~{fragment/fragment :: web_footer_tag}"></div>
    </div>
</div>
<script th:src="@{/js/dashboard/index.js}"></script>
<script th:src="@{/js/dashboard/reactive-logs.js}"></script>
</body>
</html>
